* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.page_header {
    margin: 0 auto;
    background-color: #445162;
    color: #fff;
    padding: 50px;
    display: flex;
    justify-content: space-between;
}

.page_header__title {
    display: block;
    font-size: 60px;
    line-height: 1.2;
    font-weight: 400;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
    margin: 0 0 50px 0;
}

.page_header__list {
    padding: 0;
    list-style-type: none;
    font-size: 20px;
    line-height: 36px;
    font-weight: 400;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}

.page_header__list_item::before {
    content: url("img/check_icon.png");
    padding-right: 10px;
}

.page_header_img {
    align-self: center;
    display: block;
    width: 470px;
    height: 215px;
    background-color: #fff;
    color: black;
}

section {
    color: #445162;
    padding: 50px 50px;
}

h2 {
    font-family: Arial;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    margin-bottom: 30px;
}

p {
    font-family: Arial;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
    margin-bottom: 20px;
}

.section1 {
    display: flex;
    justify-content: space-between;
}

.section1_text {
    max-width: 60%;

}

.section_video {
    align-self: center;
    display: block;
    width: 430px;
    min-height: 245px;
    background-color: #445161;
    color: #fff;
}

.section3 {
    width: 100%;
    /* height: 300px; */
    padding: 50px 50px 0px 50px;
    background-color: #f5f5f5;
    box-sizing: border-box;
}

.section3:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.section_heading {
    display: block;
    margin: 0 0 24px 0;
    text-align: center;
    font-size: 30px;
    font-family: "Arial";
    color: #445161;
    line-height: 1.2;
}

.section3__pluses {
    display: flex;
    text-align: left;
}

.dignity-list {
    margin: 0;
    padding: 0 0 0 46px;
    list-style-type: none;
    float: left;
}

.dignity-list:nth-child(3) {
    float: right;
}

.dignity-list-item {
    margin: 0 0 40px 0;
    position: relative;
}

.dignity-list:nth-child(2)>.dignity-list-item:nth-child(3),
.dignity-list:nth-child(3)>.dignity-list-item:nth-child(3) {
    margin: 0;
}

.dignity-list-item:before {
    content: "+";
    display: block;
    width: 32px;
    height: 32px;
    background-color: #445161;
    color: white;
    font-size: 28px;
    text-align: center;
    line-height: 32px;
    position: absolute;
    top: 0;
    left: -46px;
}

.screenshots {
    padding: 50px 50px 0 50px;
}

.screenshots-heading {
    display: block;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
    text-align: center;
    margin-bottom: 34px;
}

.articles {
    display: flex;
}

article {
    display: block;
    color: #445161;
    box-sizing: border-box;
    margin-bottom: 15px;
    padding-right: 15px;
}

.article_image {
    min-width: 200px;
    min-height: 150px;
    background-color: #445161;
    float: left;
    margin-right: 15px;
}

.article-text-heading {
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
}

.article-text {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
}

.reviews {
    background-color: #f5f5f5;
}

.review {
    display: flex;
}

.review_image {
    min-width: 75px;
    height: 75px;
    background-color: #445161;
    margin-right: 15px;
    border-radius: 50%;

}

.review_text {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    font-style: italic;
    color: #333333;
}

.author {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #989898;
}

.otzyv {
    background-color: #ebebeb;
    padding: 15px;
    margin-right: 32px;
}

.review_block {
    display: flex;
}

.tariffs {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding-bottom: 50px;
}

.tariff {
    min-width: 300px;
    height: min-content;
    border: 1px solid #445162;
    border-radius: 10px;
    background-color: #445162;
    color: #fff;
}

.tariff-heading {
    text-align: center;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: #ffffff;
    padding: 16px;
}

.price {
    font-size: 40px;
    line-height: 30px;
    color: #445162;
    background-color: #fff;
    text-align: center;
    padding: 18px;
    box-sizing: border-box;
}

.tariff-text {
    padding: 20px 20px 20px 40px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
}

.buy-button {
    color: #445162;
    background-color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 14px;
    margin: 20px;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    text-align: center;
    border-radius: 10px;
}

footer {
    width: 100%;
    background-color: #445162;
    color: #fff;
    padding: 50px 50px 0 50px;
}

.contacts_heading {
    display: block;
    text-align: center;
    font-size: 30px;
    line-height: 1.2;
}

.contacts {
    display: flex;
    justify-content: center;
    color: #fff;
}

.name-form {
    display: block;
    box-sizing: border-box;
    width: 500px;
    min-height: 40px;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #445162;
    border-radius: 10px;
    padding: 0 10px 0 10px;
}

.text-form {
    display: block;
    box-sizing: border-box;
    width: 500px;
    min-height: 170px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 0 10px 0 10px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #445162;
}

.footer-button {
    color: #445162;
    background-color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    width: 140px;
    padding: 14px;
    margin: 20px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    text-align: center;
    border-radius: 10px;
    margin: auto;
}

.contact-info-list {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
    list-style-type: none;
    margin-left: 45px;
}

.contact-info-item {
    position: relative;
    margin-left: 30px;
    margin-bottom: 20px;
}

.skype::before {
    content: url(img/skype_icon.png);
    position: absolute;
    top: 0;
    left: -30px
}

.icq::before {
    content: url(img/icq_icon.png);
    position: absolute;
    top: 0;
    left: -30px
}

.email::before {
    content: url(img/email_icon.png);
    position: absolute;
    top: 0;
    left: -30px
}

.phone::before {
    content: url(img/phone_icon.png);
    position: absolute;
    top: 0;
    left: -30px
}

.social-img {
    margin-left: 45px;
}

.copy {
    background-color: #f5f5f5;
    text-align: center;
    color: #445162;
    font-weight: 400;
    padding-top: 5px;
    width: 100%;
}